# WARNING: this file is manged by ansible, please make change to this file on the ansible server
#          when ansible is running on this server all changes will be reverted.
#
# {{ ansible_managed }}

{{ user.name }}     ALL = (ALL)     NOPASSWD: ALL
